$brand-primary: #F56363;
$brand-secondary: #EFEBEB;
$brand-tertiary: #676767;

$text-color: #676767;

$color-white: #FFFFFF;

$border-color: #E7E4E4;

$font-logo: 'Rancho', cursive;
$font-primary: 'Source Sans Pro', sans-serif;