/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Rancho);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header {
  min-width: 100%;
  height: 60px;
  padding-top: 8px; }

.logo {
  font-family: "Rancho", cursive;
  color: #F56363;
  text-decoration: none;
  margin-top: -4px;
  margin-left: -42px; }

.search-box {
  width: 420px;
  height: 36px; }

.nav-left {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 620px;
  flex: 1 0 620px; }

.nav-right {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 620px;
  flex: 1 0 620px; }
  .nav-right__item i {
    width: 16px;
    height: 16px;
    background: #F56363;
    color: #FFFFFF;
    top: -9px;
    left: 8px; }
  .nav-right #uploadBooks {
    display: none; }

.books-container__options {
  width: 190px;
  height: 30px; }

.books-container__list {
  width: 995px; }

.books-container__item img, .currently-reading__item img {
  width: 175px;
  border: 2px solid transparent; }

.books-container__sidebar {
  width: 215px; }
  .books-container__sidebar > div {
    background: #EFEBEB; }
    .books-container__sidebar > div:first-child {
      margin-bottom: 30px; }

.currently-reading {
  min-height: 380px;
  background: #EFEBEB; }
  .currently-reading__header {
    height: 40px; }
  .currently-reading__title {
    float: left;
    background: #FFFFFF; }
  .currently-reading__nav-item {
    width: 51px;
    height: 40px;
    background: #FFFFFF; }
    .currently-reading__nav-item:hover {
      background: #F56363; }
  .currently-reading__main {
    height: 300px; }
  .currently-reading__list {
    left: 0;
    -webkit-transition: left 0.2s;
    transition: left 0.2s; }

::-moz-selection {
  background: #F56363;
  color: #FFFFFF; }

::selection {
  background: #F56363;
  color: #FFFFFF; }

#root {
  width: 1300px;
  min-height: 100vh;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  color: #676767; }

.m {
  margin: 10px !important; }
  .m0 {
    margin: 0 !important; }
  .m\+ {
    margin: 20px !important; }
  .m\+\+ {
    margin: 30px !important; }
  .m\+\+\+ {
    margin: 40px !important; }
  .m\+\+\+\+ {
    margin: 50px !important; }
  .m\- {
    margin: 5px !important; }
  .m\-\- {
    margin: 2px !important; }

.mt, .books-container__sidebar li {
  margin-top: 10px !important; }
  .mt0 {
    margin-top: 0 !important; }
  .mt\+ {
    margin-top: 20px !important; }
  .mt\+\+, .books-container__main, .currently-reading__main {
    margin-top: 30px !important; }
  .mt\+\+\+ {
    margin-top: 40px !important; }
  .mt\+\+\+\+, .books-container, .main {
    margin-top: 50px !important; }
  .mt\- {
    margin-top: 5px !important; }
  .mt\-\- {
    margin-top: 2px !important; }

.mb {
  margin-bottom: 10px !important; }
  .mb0 {
    margin-bottom: 0 !important; }
  .mb\+ {
    margin-bottom: 20px !important; }
  .mb\+\+, .books-container__item, .currently-reading__item {
    margin-bottom: 30px !important; }
  .mb\+\+\+ {
    margin-bottom: 40px !important; }
  .mb\+\+\+\+ {
    margin-bottom: 50px !important; }
  .mb\- {
    margin-bottom: 5px !important; }
  .mb\-\- {
    margin-bottom: 2px !important; }

.ml {
  margin-left: 10px !important; }
  .ml0 {
    margin-left: 0 !important; }
  .ml\+ {
    margin-left: 20px !important; }
  .ml\+\+, .books-container__sidebar {
    margin-left: 30px !important; }
  .ml\+\+\+ {
    margin-left: 40px !important; }
  .ml\+\+\+\+ {
    margin-left: 50px !important; }
  .ml\- {
    margin-left: 5px !important; }
  .ml\-\- {
    margin-left: 2px !important; }

.mr {
  margin-right: 10px !important; }
  .mr0, .nav-right__item:last-child, .books-container__item:nth-child(5n), .currently-reading__item:nth-child(5n) {
    margin-right: 0 !important; }
  .mr\+ {
    margin-right: 20px !important; }
  .mr\+\+, .nav-right__item, .books-container__item, .currently-reading__item, .currently-reading__nav-item:first-child, .currently-reading__item:nth-child(5n) {
    margin-right: 30px !important; }
  .mr\+\+\+ {
    margin-right: 40px !important; }
  .mr\+\+\+\+ {
    margin-right: 50px !important; }
  .mr\-, .nav-right__item svg {
    margin-right: 5px !important; }
  .mr\-\- {
    margin-right: 2px !important; }

.mv {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }
  .mv0, #root {
    margin-top: 0 !important; }
  .mv\+ {
    margin-top: 20px !important; }
  .mv\+\+ {
    margin-top: 30px !important; }
  .mv\+\+\+ {
    margin-top: 40px !important; }
  .mv\+\+\+\+ {
    margin-top: 50px !important; }
  .mv\- {
    margin-top: 5px !important; }
  .mv\-\- {
    margin-top: 2px !important; }
  .mv0, #root {
    margin-bottom: 0 !important; }
  .mv\+ {
    margin-bottom: 20px !important; }
  .mv\+\+ {
    margin-bottom: 30px !important; }
  .mv\+\+\+ {
    margin-bottom: 40px !important; }
  .mv\+\+\+\+ {
    margin-bottom: 50px !important; }
  .mv\- {
    margin-bottom: 5px !important; }
  .mv\-\- {
    margin-bottom: 2px !important; }

.mh {
  margin-left: 10px !important;
  margin-right: 10px !important; }
  .mh0 {
    margin-left: 0 !important; }
  .mh\+ {
    margin-left: 20px !important; }
  .mh\+\+ {
    margin-left: 30px !important; }
  .mh\+\+\+ {
    margin-left: 40px !important; }
  .mh\+\+\+\+ {
    margin-left: 50px !important; }
  .mh\- {
    margin-left: 5px !important; }
  .mh\-\- {
    margin-left: 2px !important; }
  .mh0 {
    margin-right: 0 !important; }
  .mh\+ {
    margin-right: 20px !important; }
  .mh\+\+ {
    margin-right: 30px !important; }
  .mh\+\+\+ {
    margin-right: 40px !important; }
  .mh\+\+\+\+ {
    margin-right: 50px !important; }
  .mh\- {
    margin-right: 5px !important; }
  .mh\-\- {
    margin-right: 2px !important; }

.p, .books-container__sidebar > div, .currently-reading__title {
  padding: 10px !important; }
  .p0 {
    padding: 0 !important; }
  .p\+, .currently-reading {
    padding: 20px !important; }
  .p\+\+ {
    padding: 30px !important; }
  .p\+\+\+ {
    padding: 40px !important; }
  .p\+\+\+\+ {
    padding: 50px !important; }
  .p\- {
    padding: 5px !important; }
  .p\-\- {
    padding: 2px !important; }

.pt {
  padding-top: 10px !important; }
  .pt0 {
    padding-top: 0 !important; }
  .pt\+ {
    padding-top: 20px !important; }
  .pt\+\+ {
    padding-top: 30px !important; }
  .pt\+\+\+ {
    padding-top: 40px !important; }
  .pt\+\+\+\+ {
    padding-top: 50px !important; }
  .pt\- {
    padding-top: 5px !important; }
  .pt\-\- {
    padding-top: 2px !important; }

.pb {
  padding-bottom: 10px !important; }
  .pb0 {
    padding-bottom: 0 !important; }
  .pb\+ {
    padding-bottom: 20px !important; }
  .pb\+\+ {
    padding-bottom: 30px !important; }
  .pb\+\+\+ {
    padding-bottom: 40px !important; }
  .pb\+\+\+\+ {
    padding-bottom: 50px !important; }
  .pb\- {
    padding-bottom: 5px !important; }
  .pb\-\- {
    padding-bottom: 2px !important; }

.pl {
  padding-left: 10px !important; }
  .pl0 {
    padding-left: 0 !important; }
  .pl\+ {
    padding-left: 20px !important; }
  .pl\+\+ {
    padding-left: 30px !important; }
  .pl\+\+\+ {
    padding-left: 40px !important; }
  .pl\+\+\+\+ {
    padding-left: 50px !important; }
  .pl\- {
    padding-left: 5px !important; }
  .pl\-\- {
    padding-left: 2px !important; }

.pr {
  padding-right: 10px !important; }
  .pr0 {
    padding-right: 0 !important; }
  .pr\+ {
    padding-right: 20px !important; }
  .pr\+\+ {
    padding-right: 30px !important; }
  .pr\+\+\+ {
    padding-right: 40px !important; }
  .pr\+\+\+\+ {
    padding-right: 50px !important; }
  .pr\- {
    padding-right: 5px !important; }
  .pr\-\- {
    padding-right: 2px !important; }

.pv {
  padding-top: 10px !important;
  padding-bottom: 10px !important; }
  .pv0, .search-box, #root {
    padding-top: 0 !important; }
  .pv\+ {
    padding-top: 20px !important; }
  .pv\+\+ {
    padding-top: 30px !important; }
  .pv\+\+\+ {
    padding-top: 40px !important; }
  .pv\+\+\+\+ {
    padding-top: 50px !important; }
  .pv\- {
    padding-top: 5px !important; }
  .pv\-\-, .nav-right__item i {
    padding-top: 2px !important; }
  .pv0, .search-box, #root {
    padding-bottom: 0 !important; }
  .pv\+ {
    padding-bottom: 20px !important; }
  .pv\+\+ {
    padding-bottom: 30px !important; }
  .pv\+\+\+ {
    padding-bottom: 40px !important; }
  .pv\+\+\+\+ {
    padding-bottom: 50px !important; }
  .pv\- {
    padding-bottom: 5px !important; }
  .pv\-\-, .nav-right__item i {
    padding-bottom: 2px !important; }

.ph, .search-box {
  padding-left: 10px !important;
  padding-right: 10px !important; }
  .ph0 {
    padding-left: 0 !important; }
  .ph\+ {
    padding-left: 20px !important; }
  .ph\+\+, #root {
    padding-left: 30px !important; }
  .ph\+\+\+ {
    padding-left: 40px !important; }
  .ph\+\+\+\+ {
    padding-left: 50px !important; }
  .ph\- {
    padding-left: 5px !important; }
  .ph\-\- {
    padding-left: 2px !important; }
  .ph0 {
    padding-right: 0 !important; }
  .ph\+ {
    padding-right: 20px !important; }
  .ph\+\+, #root {
    padding-right: 30px !important; }
  .ph\+\+\+ {
    padding-right: 40px !important; }
  .ph\+\+\+\+ {
    padding-right: 50px !important; }
  .ph\- {
    padding-right: 5px !important; }
  .ph\-\- {
    padding-right: 2px !important; }

.fs, .books-container__options {
  font-size: 16px; }
  .fs\+, .currently-reading__header {
    font-size: 20px; }
  .fs\+\+, .logo {
    font-size: 38px; }
  .fs\- {
    font-size: 14px; }
  .fs\-\-, .nav-right__item i {
    font-size: 12px; }

.fw {
  font-weight: 400; }
  .fw\+, .nav-right__item i, .nav-right__item label, .books-container__sidebar-title, .currently-reading__header {
    font-weight: 600; }

.lh, .books-container__sidebar li {
  line-height: 20px; }

.w1\/1, .header, .currently-reading, .currently-reading__header, .currently-reading__main {
  width: 100% !important; }

.w1\/2 {
  width: 50% !important; }

.w1\/3 {
  width: 33.33333% !important; }

.w1\/4 {
  width: 25% !important; }

.w1\/5 {
  width: 20% !important; }

.mw1\/1 {
  max-width: 100% !important; }

.mw1\/2 {
  max-width: 50% !important; }

.mw1\/3 {
  max-width: 33.33333% !important; }

.mw1\/4 {
  max-width: 25% !important; }

.mw1\/5 {
  max-width: 20% !important; }

.block {
  display: block; }

.margin-center, #root {
  margin-left: auto;
  margin-right: auto; }

.flex, .header, .nav-left, .nav-right, .nav-right__item, .books-container__main, .books-container__list, .books-container__sidebar li, .currently-reading__nav, .currently-reading__nav-item, .currently-reading__list, #root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .flex__column, #root {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .flex__start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .flex__end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .flex__baseline {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline; }
  .flex__center, .header, .nav-right__item, .books-container__sidebar li, .currently-reading__nav-item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .flex__space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .flex__justify-start, .nav-left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .flex__justify-end, .nav-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .flex__justify-center, .currently-reading__nav-item {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .flex__wrap, .books-container__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

.pull-left, .currently-reading__title {
  float: left; }

.pull-right, .currently-reading__nav {
  float: right; }

.abs-pos, .nav-right__item i {
  position: absolute; }

.abs-center, .logo {
  position: absolute;
  left: 50%; }

.rel-pos, .nav-right__item, .currently-reading__main, .currently-reading__list {
  position: relative; }

.border, .search-box {
  border: 1px solid #E7E4E4; }

.border-hover:hover {
  border: 1px solid #F56363; }

.border-focus:focus, .search-box:focus {
  border: 1px solid #F56363; }

.border-circle, .nav-right__item i {
  border-radius: 100%; }

.outline-none, .search-box {
  outline: none; }

.border-box, .header, .search-box, .nav-right__item i, .books-container__item img, .currently-reading__item img, .currently-reading, .currently-reading__nav, #root {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.nolink, .nav-right__item {
  color: #676767;
  text-decoration: none;
  outline: none; }

.cursor-pointer, .logo, .nav-right__item, .nav-right__item label, .currently-reading__nav-item {
  cursor: pointer; }

label, input, select {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  outline: none; }

.text-center, .nav-right__item i {
  text-align: center; }

.text-hover:hover, .nav-right__item:hover {
  color: #F56363; }

.svg-hover__fill:hover g, .nav-right__item:hover g {
  fill: #F56363; }

.svg-hover__fill--reverse:hover g {
  fill: #FFFFFF; }

.svg-hover:hover g {
  fill: #F56363; }

.svg-hover__stroke:hover g {
  stroke: #F56363; }

.svg-hover__stroke--reverse:hover g, .currently-reading__nav-item:hover g {
  stroke: #FFFFFF; }

.book-hover:hover img, .books-container__item:hover img, .currently-reading__item:hover img {
  border: 2px solid #F56363; }

.clearfix, .books-container__main {
  clear: both; }

.overflow-hidden, .books-container__header, .currently-reading__main {
  overflow: hidden; }
