<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>joyread</title>
    <link href="https://fonts.googleapis.com/css?family=Rancho" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
</head>
<body>
    <root>
        <header>
            <div class="nav-left">
                <input type="text" class="search-box" placeholder="Type here to search..." />
            </div>
            <a class="logo">joyread</a>
            <div class="nav-right">
                <a href="" class="nav-right__item">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34 34" width="20" height="20">
                        <g fill="#676767">
                            <path d="M29.8 24.4S26 19.7 26 15v-4c0-5.5-4.5-10-10-10S6 5.5 6 11v4c0 4.7-3.7 9.3-3.8 9.4-.2.3-.3.7-.1 1.1.2.3.5.5.9.5h26c.4 0 .7-.2.9-.6.2-.3.1-.7-.1-1z"></path>
                            <path data-color="color-2" d="M12.1 28c.4 1.7 2 3 3.9 3s3.4-1.3 3.9-3h-7.8z"></path>
                        </g>
                    </svg>
                    <i>5</i>
                    <label>Notifications</label>
                </a>
                <a href="" class="nav-right__item">
                    <svg class="menu-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="20" height="20">
                        <g class="nc-icon-wrapper" fill="#676767">
                            <path data-color="color-2" d="M60 27H4c-.6 0-1 .4-1 1v8c0 .6.4 1 1 1h56c.6 0 1-.4 1-1v-8c0-.6-.4-1-1-1z"></path>
                            <path d="M60 7H4c-.6 0-1 .4-1 1v8c0 .6.4 1 1 1h56c.6 0 1-.4 1-1V8c0-.6-.4-1-1-1zm0 40H4c-.6 0-1 .4-1 1v8c0 .6.4 1 1 1h56c.6 0 1-.4 1-1v-8c0-.6-.4-1-1-1z"></path>
                        </g>
                    </svg>
                    <label>Menu</label>
                </a>
            </div>
        </header>
        <main>
            <div class="currently-reading">
                <div class="currently-reading__header">
                    <div class="currently-reading__title">Currently reading</div>
                    <div class="currently-reading__nav">
                        <div class="currently-reading__nav-item" id="currentlyReadingLeft">
                            <svg width="28" height="20" viewBox="0 0 33 20" xmlns="http://www.w3.org/2000/svg">
                                <g stroke="#676767" stroke-width="3" fill="none" fill-rule="evenodd">
                                    <path d="M33 10.143H3"></path>
                                    <path stroke-linecap="square" d="M10.143 17.286L3 10.143 10.143 3"></path>
                                </g>
                            </svg>
                        </div>
                        <div class="currently-reading__nav-item" id="currentlyReadingRight">
                            <svg width="33" height="20" xmlns="http://www.w3.org/2000/svg">
                                <g stroke-width="3" stroke="#676767" fill="none" fill-rule="evenodd">
                                    <path d="M0 10h30"/>
                                    <path stroke-linecap="square" d="M23 3l7 7-7 7"/>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="currently-reading__main">
                    <div class="currently-reading__list">
                        <a class="currently-reading__item" href="">
                            <img src="static/jpg/b1.jpg" alt="Bleak House" />
                        </a>
                        <a class="currently-reading__item" href="">
                            <img src="static/jpg/b1.jpg" alt="Bleak House" />
                        </a>
                        <a class="currently-reading__item" href="">
                            <img src="static/jpg/b1.jpg" alt="Bleak House" />
                        </a>
                        <a class="currently-reading__item" href="">
                            <img src="static/jpg/b1.jpg" alt="Bleak House" />
                        </a>
                        <a class="currently-reading__item" href="">
                            <img src="static/jpg/b1.jpg" alt="Bleak House" />
                        </a>
                        <a class="currently-reading__item" href="">
                            <img src="static/jpg/b1.jpg" alt="Bleak House" />
                        </a>
                        <a class="currently-reading__item" href="">
                            <img src="static/jpg/b1.jpg" alt="Bleak House" />
                        </a>
                        <a class="currently-reading__item" href="">
                            <img src="static/jpg/b1.jpg" alt="Bleak House" />
                        </a>
                        <a class="currently-reading__item" href="">
                            <img src="static/jpg/b1.jpg" alt="Bleak House" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="books-container">
                <div class="books-container__header">
                    <select class="books-container__options">
                        <option>All books</option>
                        <option>Uploaded by me</option>
                        <option>Uploaded by others</option>
                    </select>
                </div>
                <div class="books-container__main">
                    <div class="books-container__list">
                        <a class="books-container__item" href="">
                            <img src="static/jpg/b1.jpg" alt="Bleak House" />
                        </a>
                        <a class="books-container__item" href="">
                            <img src="static/jpg/b1.jpg" alt="Bleak House" />
                        </a>
                        <a class="books-container__item" href="">
                            <img src="static/jpg/b1.jpg" alt="Bleak House" />
                        </a>
                        <a class="books-container__item" href="">
                            <img src="static/jpg/b1.jpg" alt="Bleak House" />
                        </a>
                        <a class="books-container__item" href="">
                            <img src="static/jpg/b1.jpg" alt="Bleak House" />
                        </a>
                        <a class="books-container__item" href="">
                            <img src="static/jpg/b1.jpg" alt="Bleak House" />
                        </a>
                    </div>
                    <div class="books-container__sidebar">
                        <div class="books-container__filterby-user">
                            <div class="books-container__sidebar-title">
                                Uploaded by
                            </div>
                            <ul>
                                <li>
                                    <input type="checkbox" id="richardDawkins">
                                    <label for="richardDawkins">Richard Dawkins</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="ChristopherHitchens">
                                    <label for="ChristopherHitchens">Christopher Hitchens</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="samMorrison">
                                    <label for="samMorrison">Sam Morrison</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="barackObama">
                                    <label for="barackObama">Barack Obama</label>
                                </li>
                            </ul>
                        </div>
                        <div class="books-container__filterby-author">
                            <div class="books-container__sidebar-title">
                                Authors
                            </div>
                            <ul>
                                <li>
                                    <input type="checkbox" id="charlesDickens">
                                    <label for="charlesDickens">Charles Dickens</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="csLewis">
                                    <label for="csLewis">C.S. Lewis</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="henryThoreau">
                                    <label for="henryThoreau">Henry David Thoreau</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="williamShakespeare">
                                    <label for="williamShakespeare">William Shakespeare</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </root>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {

            function triggerCurrentlyReadingNav() {
                var currentlyReadingBooks = document.getElementsByClassName('currently-reading__item')
                var currentlyReadingCounter = 0
                for (var i = 0; i < currentlyReadingBooks.length; i++) {
                    currentlyReadingBooks[i].style.position = 'absolute'
                    currentlyReadingBooks[i].style.left = currentlyReadingCounter + 'px'
                    currentlyReadingCounter += 205
                }

                var currentlyReadingLeft = document.getElementById('currentlyReadingLeft')
                var currentlyReadingRight = document.getElementById('currentlyReadingRight')
                var currentlyReadingList = document.getElementsByClassName('currently-reading__list')
                var currentlyReadingAnimationCounter = 0

                currentlyReadingLeft.onclick = function() {
                    if (currentlyReadingAnimationCounter < 0) {
                        currentlyReadingAnimationCounter += 205
                        currentlyReadingList[0].style.left = currentlyReadingAnimationCounter + 'px'
                    }
                }

                currentlyReadingRight.onclick = function() {
                    if (((currentlyReadingBooks.length - 6) * 205) > -(currentlyReadingAnimationCounter)) {
                        currentlyReadingAnimationCounter -= 205
                        currentlyReadingList[0].style.left = currentlyReadingAnimationCounter + 'px'
                    }
                }
            }

            triggerCurrentlyReadingNav()

            fetch('/books')
                .then(function(response) {
                    return response.json()
                })
                .then(function(booksJSON) {
                    var books = booksJSON['books']
                    var booksListHTML = ''

                    for (var i = 0; i < books.length; i++) {
                        booksListHTML += '<a class="books-container__item" href="' + books[i]['href'] + '"><img src="' + books[i]['src'] + '" alt="' + books[i]['alt'] + '" /></a>'
                    }
                    
                    var booksContainerList = document.getElementsByClassName('books-container__list')
                    booksContainerList[0].innerHTML = booksListHTML
                })
        })
    </script>
</body>
</html>